.offer_image {
    font-family: Montserrat, sans-serif;
    height: 500px;
    width: 500px;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
    /* display:flex; */
    font-weight: bold;
}