.event_eventInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event_imagesmall {
    height: 288px;
    width: 199px;
    transition: transform 0.2s ease-in-out;
}

.event_imagesmall:hover {
    transform: scale(0.9);
}


.event_title {
    font-family: Montserrat, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    width:199px
}