.screeningRoom {

}

.screeningRoom ul {
    list-style: none;
    display: flex;
    background-color: rgb(62, 86, 190);
	justify-content: space-around;
    margin: 1;
	padding: 0 0 0 1rem;
}

.screeningRoom li {
	display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
    margin: 5px;
	padding-top: 0.5rem;
	text-align: center;
}

.screeningRoom li:nth-child(2) {
    margin-left: 1rem;
}

.screeningRoom button {
}