.sportList_release{
    font-family: Montserrat, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 40px;
    display:flex;
    justify-content: center;
}
.sportList_today {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.sportList_icon {
    fill: #ffffff;
}

.sportList_icon {
    height: 20px;
    width: 20px;
}
.sportList_release_text{
    padding-left: 5px;
    padding-right: 5px;
}