.app-header {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #193052;
  }
  .logo {
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
  }
  .cinema-name {
    color: #fff;
    margin: auto 20px;
    font-size: 39px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
  }
  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .user-name {
    color: #fff;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
  }
  
  .user-info .btn,
  .user-info .btn:hover,
  .user-info .btn:focus {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 15px;
  }
  .user-info .btn div {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  .user-info .btn div i {
    padding-top: 2px;
  }
  