.movieList_release{
    font-family: Montserrat, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 40px;
    display:flex;
    justify-content: center;
}
.movieList_today {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.movieList_icon {
    fill: #000000;
}

.movieList_icon {
    height: 20px;
    width: 20px;
}
.movieList_release_text{
    padding-left: 5px;
    padding-right: 5px;
}