.modal1 {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(40px, auto);
    grid-template-areas: "hd hd hd hd hd hd hd hd hd"
        "sd sd sd sd sd sd main main main"
        "ft ft ft ft ft ft ft ft ft";

}

.modal1>.header {
    grid-area: hd;
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.modal1>.actions {
    grid-area: ft;
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
#seat-map {
    grid-area: sd;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
}

.modal1>.booking-details {
    grid-area: main;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
}

 
.front {
    width: 80%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2e2e2;
    color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
}


.grid td {
    width: 50px;
    height: 50px;
    border: 2px solid orange;
    text-align: center;
    float: left;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid td:hover {
    opacity: .7;
    cursor: pointer;
}

.reserved {
    background: orange;
    color: #fff;
    display: inline-block;
}

.available {
    color: #333;
}

.seats {
    text-align: center;
}



@media only screen and (max-width: 767px) {
    .modal1 {
        font-size: 0.6rem;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: minmax(40px, auto);
        grid-template-areas: "hd hd hd hd hd hd hd hd hd"
            "sd sd sd sd sd sd sd sd sd"
            "main main main main main main main main main"
            "ft ft ft ft ft ft ft ft ft";
    }

.grid td {
    width: 20px;
    height: 15px;
    
}
.modal1>.booking-details {
    font-size: 0.6rem;
}

.modal1>.booking-details select {
    font-size: 0.6rem;
}



}